@model NewsPortal.Entities.Dtos.UserPasswordChangeDto
@{
    Layout = "_Layout";
    ViewBag.Title = "Şifre Değiştir";
    ViewBag.Dashboard = "Şifre";
}
<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <div class="card mt-3">
            <div class="card-body">
                <form asp-controller="Home" asp-action="PasswordChange" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" id="validation-summary"></div>
                    <div class="form-group">
                        <label asp-for="CurrentPassword"></label>
                        <input type="password" class="form-control" asp-for="CurrentPassword" placeholder="Lütfen, mevcut şifreyi giriniz." />
                        <span class="text-danger" asp-validation-for="CurrentPassword"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewPassword"></label>
                        <input type="password" class="form-control" asp-for="NewPassword" placeholder="Lütfen, yeni şifreyi giriniz." />
                        <span class="text-danger" asp-validation-for="NewPassword"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RepeatPassword"></label>
                        <input type="password" class="form-control" asp-for="RepeatPassword" placeholder="Lütfen, yeni şifreyi tekrar giriniz." />
                        <span class="text-danger" asp-validation-for="RepeatPassword"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"><span class="fa fa-save"></span> Kaydet</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>