@model NewsPortal.Mvc.Areas.Admin.Models.DashboardViewModel
@{ Layout = "_newLayout";
    ViewBag.Title = "Yönetim Paneli";
    ViewBag.Dashboard = "Dashboard";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index"><em class="fa fa-home"></em></a></li>
        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
    </ol>
</nav>

<section class="row">
    <div class="col-lg-3 mb-4">
        <div class="card text-white bg-danger">
            <div class="card-header">Haberler (@Model.ReportsCount)</div>
            <div class="card-block">
                <p>
                    <a class="small text-white stretched-link" asp-area="Admin" asp-controller="Report" asp-action="Index">Detaylar</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="card text-white bg-primary">
            <div class="card-header">Kullanıcılar (@Model.UsersCount)</div>
            <div class="card-block">
                <p>
                    <a class="small text-white stretched-link" asp-area="Admin" asp-controller="User" asp-action="Index">Detaylar</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="card text-white bg-success">
            <div class="card-header">Yorumlar (@Model.CommentsCount)</div>
            <div class="card-block">
                <p>
                    <a class="small text-white stretched-link" asp-area="Admin" asp-controller="Comment" asp-action="Index">Detaylar</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 mb-4">
        <div class="card text-white bg-info">
            <div class="card-header">Kategoriler (@Model.CategoriesCount)</div>
            <div class="card-block">
                <p>
                    <a class="small text-white stretched-link" asp-area="Admin" asp-controller="Category" asp-action="Index">Detaylar</a>
                </p>
            </div>
        </div>
    </div>
</section>

@section Scripts
{
    <script src="~/AdminLTE/js/homeIndex.js" type="application/ecmascript"></script>
}