@model NewsPortal.Entities.Dtos.RoleListDto
@{
    Layout = "_newLayout";
    ViewBag.Title = "Roller";
    ViewBag.Dashboard = "Roller";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index"><em class="fa fa-home"></em></a></li>
        <li class="breadcrumb-item active" aria-current="page">Roller</li>
    </ol>
</nav>

<div id="modalPlaceHolder" aria-hidden="true"></div>
<div class="card mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="rolesTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Rol Adı</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var role in Model.Roles)
                    {
                        <tr name="@role.Id">
                            <td>@role.Id</td>
                            <td>@role.Name</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts
    {
    <script src="~/AdminLTE/js/roleIndex.js" type="application/ecmascript"></script>
}
@section Styles
    {

}