<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/img/favicon.ico">
    <title>@ViewBag.Title - Kullanıcı Paneli | NewsPortal</title>
    @await Html.PartialAsync("/Areas/Admin/Views/Shared/_newLayoutCssPartial.cshtml")
    @await RenderSectionAsync("Styles", false)
</head>
<body>
    <div class="container-fluid" id="wrapper">
        <div class="row">
            @await Component.InvokeAsync("AdminMenu2")
            <main class="col-sm-8 col-lg-9 col-xl-10 pt-3 pl-4 ml-auto">
                @await Component.InvokeAsync("UserMenu2")
                <section class="row">
                    <div class="col-sm-12">
                        @RenderBody()
                    </div>
                </section>
            </main>
        </div>
    </div>

    @await Html.PartialAsync("/Areas/Admin/Views/Shared/_newLayoutJsPartial.cshtml")
    @await Html.PartialAsync("/Areas/Admin/Views/Shared/_LayoutJsPartial.cshtml")
    @await RenderSectionAsync("Scripts", false)
</body>
</html>